{% extends "layout.twig" %}

{% block content %}
 <div class="admin-container">
        {% include 'admin/menu.twig' with {'current_page': 'editors'} %}
        
        <div class="admin-content">
    <h1>Gestion des éditeurs</h1>
    <a href="/admin/editors/create" class="btn btn-primary">Ajouter un éditeur</a>
    <table class="admin-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Utilisateur associé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.user_username }}</td>
                    <td>
                        <a href="/admin/editors/edit/{{ item.id }}" class="btn btn-sm btn-secondary">Modifier</a>
                        <a href="/admin/editors/delete/{{ item.id }}" class="btn btn-sm btn-danger delete-btn" data-item-name="{{ item.name }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if totalPages > 1 %}
        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="?page={{ currentPage - 1 }}" class="btn-page">Précédent</a>
            {% endif %}
            
            {% for i in 1..totalPages %}
                <a href="?page={{ i }}" class="btn-page {% if currentPage == i %}active{% endif %}">{{ i }}</a>
            {% endfor %}
            
            {% if currentPage < totalPages %}
                <a href="?page={{ currentPage + 1 }}" class="btn-page">Suivant</a>
            {% endif %}
        </div>
    {% endif %}
    </div>
    </div>
{% endblock %}
