<div class="game-card">
    <a href="{{ card_link }}">
        <img src="{{ card_image }}" alt="{{ card_title }}" class="game-image">
        <div class="game-card-content">
            <h3>{{ card_title }}</h3>
            <p>{{ card_text|length > 100 ? card_text|slice(0, 100) ~ '...' : card_text }}</p>
            <p class="price">{{ card_price }} €</p>
        </div>
    </a>
    {% if button_basket %}
        <button class="btn-green add-to-cart" data-game-id="{{ game_id }}">
            <i class="fas fa-shopping-cart"></i> Ajouter au panier
        </button>
    {% endif %}
</div>
